---
layout: home
application: home
design_title: Intranet homepage — Apps
design_description: The homepage of the intranet with the apps tab active.
---

<div class="row tiles apps pat-masonry" data-pat-masonry="column-width: .grid-sizer; gutter: 0; item-selector: .tile;">
	<div class="grid-sizer"></div>
	{% include tile-app.html title="News CMS" appid="news" %}
	{% include tile-app.html title="Contacts" appid="contacts" %}
	{% include tile-app.html title="Calendar" appid="calendar" %}
	{% include tile-app.html title="Slide bank" appid="slide-bank" %}
	{% include tile-app.html title="Image bank" appid="image-bank" %}
	{% include tile-app.html title="App market" appid="app-market" %}
</div>