---
layout: home
application: home
design_title: Library landing page
---

<nav class="canvas-subnav">
	<a href="/library.html">All topics</a>
	<a href="/library-hr.html" class="current">HR</a>
	<a href="/library.html">Regulations</a>
	<a href="/library.html">Transportation</a>
	<a href="/library.html">Lorem ipsum</a>
</nav>

<article class="pat-rich canvas-intro">
	<h1>
		<nav class="pat-breadcrumbs">
			<a href="/library-hr.html">HR</a>
			<a href="/library-hr-valenpedicis-palemtuem.html">Valenpedicis palemtuem</a>
			<a href="">Excepturi sint occaecati</a>
		</nav>
	</h1>
	<p class="description">
		Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum. 
	</p>
</article>

<form class="canvas-toolbar pat-inject pat-autosubmit" action="/workspaces.html#workspaces">
	<!-- Grouping dropdown is replaced by sorting drop down when section contains only pages. -->
	<label class="bare pat-select">
		<select>
			<option>
				Fixed order
			</option>
			<option>
				Sort by modification date (Youngest first)
			</option>
			<option>
				Sort alphabetically
			</option>
		</select>
	</label>
	<!-- Link to external CMS -->
	<a href="#" class="icon create" title="Create a new page or section">Create page or section</a>
</form>

<div class="lib-groups pat-masonry" data-pat-masonry="column-width: .grid-sizer; gutter: 0; item-selector: .tile;" id="lib-groups">
	<div class="grid-sizer"></div>
	<div class="tile type-page">
		<a href="library-mollitia-animi.html" class="content">
			<h3>
				Mollitia animi
			</h3>
			<p class="hero">
				<img src="http://lorempixel.com/800/400/business/" alt="" />
			</p>
			<p class="summary">
				Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
			</p>
			<p class="footer">
				<em class="read-more">Read more…</em>
			</p>
		</a>
	</div>
	{% for item in site.posts %}
		{% if item.layout == 'cms-item' %}
			<div class="tile type-page">
				<a href="{{ item.url }}" class="content">
					<h3>
						{{ item.title }}
					</h3>
					{% if item.image %}
						<p class="hero">
							<img src="/media/cms/{{ item.image }}" alt="" />
						</p>
					{% endif %}
					<p class="summary">
						{{ item.description }}
					</p>
					<p class="footer">
						<em class="read-more">Read more…</em>
					</p>
				</a>
			</div>
		{% endif %}
	{% endfor %}
<!-- 	<div class="tile type-page">
		<a class="content">
			<h3>
				Laborum et dolorum
			</h3>
			<p class="summary">
				Cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum.
			</p>
			<p class="footer">
				<em class="read-more">Read more…</em>
			</p>
		</a>
	</div>
	<div class="tile type-page">
		<a class="content">
			<h3>
				Officia deserunt
			</h3>
			<p class="summary">
				Id est laborum et dolorum fuga. Et harum quidem rerum.
			</p>
			<p class="footer">
				<em class="read-more">Read more…</em>
			</p>
		</a>
	</div> -->
</div>