---
layout: home
application: home
design_title: Intranet homepage — Workspaces
design_description: The homepage of the intranet with the workspaces tab active.
---

<form class="canvas-toolbar pat-inject pat-autosubmit" action="/workspaces.html#workspaces">

	<!-- Sorting dropdown is out of scope. -->
	<label class="bare pat-select">
		<select>
			<option>
				Most active workspaces on top
			</option>
			<option>
				Newest workspaces on top
			</option>
		</select>
	</label>

	<div class="icons">
		<a href="/feedback/panel-create-workspace.html#document-content" data-pat-modal="class: large" title="Create a new workspace" class="icon create pat-modal">Create workspace</a>
	</div>

	<!-- Search is out of scope? -->
	<input type="search" placeholder="Search workspaces" />
	
</form>

<div class="row tiles workspaces pat-masonry" data-pat-masonry="column-width: .grid-sizer; gutter: 0; item-selector: .tile;" id="workspaces">
	<div class="grid-sizer four columns"></div>
	{% for workspace in site.posts %}
		{% if workspace.layout == 'workspace-landing' %}
		    <div class="tile workspace type-{{ workspace.type }} four columns {% if include.description %}has-description{% endif %} workspace-{{ workspace.id | remove: '/' }}">
			    <a href="{{ workspace.url }}" class="link">
			        <h3>{{ workspace.workspace_name }}</h3>
			        {% if workspace.description %}
				        <p class="description">
				            {{ workspace.description | truncate: 100 }}
				        </p>
			        {% endif %}
			    </a>
			</div>
		{% endif %}
	{% endfor %}
</div>