<div class="library portlet span-1" id="portlet-library">
    <div class="content">
        <h2 class="portlet-title">
            <a href="/library.html">Library</a>
        </h2>
        <ul class="menu links">
            <li>
                <a href="" class="icon-doc-text">Lib item so and so</a>
            </li>
            <li>
                <a href="" class="icon-doc-text">Another lib item</a>
            </li>
            {% assign libcount = 1 %}
            {% for item in site.posts  %}
                {% if item.layout == 'workspace-landing' and libcount <= 5 % %}
                    <li class="library-item" title="{{ item.description }}">
                        <a href="{{ item.url }}" class="link icon-doc-text">
                            {{ item.title }}
                            <!-- <p class="description">
                                {{ item.description }}
                            </p> -->
                        </a>
                    </li>
                    {% assign libcount = libcount | plus: 1 %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>