<nav class="tabs navigation {% if page.application == 'home' %}pat-bumper{% endif %} portal-tabs" id="{{ include.id }}">
	<a href="/dashboard.html" {% if page.url == '/dashboard.html' %}class="current"{% endif %}>Dashboard</a>
	<a href="/news.html" {% if page.url == '/news.html' %}class="current"{% endif %}>News</a>
	<a href="/library.html" {% if page.url == '/library.html' %}class="current"{% endif %}>Library</a>
	<a href="/workspaces.html" {% if page.url == '/workspaces.html' or page.application == 'workspace' %}class="current"{% endif %}>Workspaces</a>
<!-- 		<a href="#" {% if page.url == '/messages.html' %}class="current"{% endif %}>Messages</a> -->
	<a href="/apps.html" {% if page.url == '/apps.html' %}class="current"{% endif %}>Apps</a>
</nav>