{% capture mypostUID %}mypost_{{ include.postcount }}{% endcapture %}
<div class="post item" id="post-{{ mypostUID }}">
	<div class="post-header">
		<!-- find the user 'post' that relates to the poster's id -->
		{% for node in site.posts %}
			{% capture nodeid %}{{ node.id | remove: "/" }}{% endcapture %}
		    {% if  nodeid == item.userid %}
				{% assign user = node %}
			{% endif %}
		{% endfor %}
		<a href="{{user.id}}">
			{% include patterns/avatar.html img=user.image_url %}
			<h4 class="name">
				{{ user.title }}
			</h4>
		</a>
		<p class="byline">
			<em class="action">{{ item.activity }}</em>  <time>{{ item.datestamp }}</time> {% if item.workspace %}in <a href="/open-market-committee/">{{ item.workspace }}</a>{% endif %} <!-- | -->
            <!-- <label class="visibility pat-select bare">
                <select>
                    <optgroup>
                        <option>
                            Everyone
                        </option>
                        <option>
                            Trusted users
                        </option>
                    </optgroup>
                    <optgroup>
                        <option>
                            Workspace so and so
                        </option>
                        <option>
                            Baggage handling regulations
                        </option>
                        <option>
                            Human resources
                        </option>
                    </optgroup>
                </select>
            </label> --> <br/>
			<a href="#" class="iconified icon-cog">Options</a>
		</p>
	</div>
	<section class="post-content">
		<p>
			{{ item.text }}
		</p>
	</section>
	{% if item.preview and item.layout == 'image' %}
		<section class="image preview">
			<figure>
				{% for node in site.posts %}
					{% capture nodeid %}{{ node.id | remove: "/" }}{% endcapture %}
					{% if  nodeid == item.object_id %}
						{% assign object = node %}
					{% endif %}
				{% endfor %}			
				{% if object %}
					<a href="{{ object.url }}" alt="{{ object.title }}">
				{% endif %}
						<img src="{{ item.preview }}" alt="" />
				{% if object %}
					</a>
				{% endif %}
			</figure>
			<p class="overlay">
				<a href="#" class="icon iconified icon-download" title="Download these images as a ZIP file">Download</a>
				
				<nav class="pat-gallery">
					<a href="{{ item.preview }}" title="Preview 3 images">
						<span class="icon iconified icon-eye">Preview</span>
						<em class="icon page-counter">3x</em>
					</a>
					<a hidden href="http://lorempixel.com/1280/720/sports/" class="icon iconified icon-eye" title="Preview this file">Page 2</a>
					<a hidden href="http://lorempixel.com/1280/720/food/"  title="Preview this file">Page 3</a>
					<a hidden href="http://lorempixel.com/1280/720/cats/"  title="Preview this file">Page 4</a>
				</nav>
			</p>
		</section>
	{% endif %}
	{% if item.preview and item.layout == 'document' %}
		<section class="document preview {% if item.preview == 'not-generated' %}not-generated{% endif %} {% if item.preview == 'not-possible' %}not-possible{% endif %}">
			<figure>
				{% for node in site.posts %}
					{% capture nodeid %}{{ node.id | remove: "/" }}{% endcapture %}
					{% if  nodeid == item.object_id %}
						{% assign object = node %}
					{% endif %}
				{% endfor %}
				{% if item.preview == 'not-generated' or item.preview == 'not-possible' %}
					<figcaption>
						<strong class="title">
							{% if object %}
								{{ object.title }} 
								<span class="functions">
									<a href="#" class="icon iconified icon-download" title="Download this file">Download</a>
								</span>
							{% else %}
								Lorem ipsum dolor sit amet
							{% endif %}
						</strong>
						<em class="byline">Description goes here</em></a>
					</figcaption>
				{% else %}
					<a href="{{ object.url }}" alt="{{ object.title }}">
						<img src="{{ item.preview }}" alt="" />
					</a>
					<figcaption>
						<strong class="title">
							<a href="{{ object.url }}" alt="{{ object.title }}">
								{% if object %}{{ object.title }}{% else %}Lorem ipsum dolor sit amet{% endif %} <span class="page-counter icon-docs">3x</span>
							</a>
							<span class="functions">
								<a href="#" class="icon iconified icon-download" title="Download this file">Download</a>
								<nav class="pat-gallery">
									<a class="icon iconified icon-eye" href="http://lorempixel.com/1280/720/business/" title="Preview this file">Preview</a>
									<a hidden href="http://lorempixel.com/1280/720/sports/" class="icon iconified icon-eye" title="Preview this file">Page 2</a>
									<a hidden href="http://lorempixel.com/1280/720/food/"  title="Preview this file">Page 3</a>
									<a hidden href="http://lorempixel.com/1280/720/cats/"  title="Preview this file">Page 4</a>
								</nav>
							</span>
						</strong>
						<a href="{{ object.url }}" alt="{{ object.title }}">
							<em class="byline">Description goes here</em>
						</a>
					</figcaption>
				{% endif %}
			</figure>
<!-- 			<p class="overlay">
				<a href="#" class="iconified icon-download">Download</a>
				<a href="#" class="iconified icon-preview">Preview</a>	
			</p> -->
		</section>
	{% endif %}
	<div class="functions">

		<!-- Buttons and anchors in this section get a class 'active, when the share or like is used by the current user.' -->
		<a href="/sharing.html#document-content" class="share pat-modal">Share <sup class="counter">({{ item.shares }})</sup></a>
		<form action="/feedback/liked.html#content" class="pat-inject" id="functions-{{mypostUID}}" data-pat-inject="source: #functions; target: #functions-{{mypostUID}}">
			<!-- The submit button sends a name value pair to the server. The name is always the same but the value differs, depending whether the state is like or unlike. When the user has already liked the item and the form is submitted with the name value pair: like_button/like, then in the server feedback (/feedback/liked.html) the like count will be increased by 1 and the class 'active' is added. When the form is submitted with the name value pair like_button/unlike, the like count in will be decreased by one and the class 'active' is removed from the button. This is all done server side. -->
			<button type="submit" name="like_button" value="like" class="like">Like <sup class="counter">({{ item.likes }})</sup></button>
		</form>
	</div>
	<div class="comments" id="comments-{{mypostUID}}">

		<div id="comment-trail-{{mypostUID}}">
			{% for comment in item.comments %}
				{% include comment.html %}
			{% endfor %}
		</div>
		{% capture localtarget %}#comments-{{mypostUID}}{% endcapture %}
		{% include update-social.html id=mypostUID visibility="false" action="/feedback/comment-well-said.html#comment-trail" %}
	</div>
</div>
