<div class="tile app {% if include.description %}has-description{% endif %} app-{{ include.appid }} {{ include.class }}">
    <a href="{% if include.class contains 'disabled' %}/feedback/panel-app-not-available.html#document-content{% else %}/apps/{{ include.appid }}/{% endif %}" class="link {% if include.class contains 'disabled' %}pat-modal{% endif %}">
    	<img class="icon" src="/apps/{{ include.appid }}/icon.svg" alt="" />
        <h3>{{ include.title }}</h3>
        {% if include.appid == 'calendar' %}
            <time class="date pat-auto-scale">
            	<span class="date">5</span>
            	<span class="month">DEC</span>
            </time>
        {% endif %}
    </a>
</div>