@charset "UTF-8";

.canvas-subnav {
	margin-bottom: 1em;
	@include clear-fix();
	text-align: center;
	font-size: 0.9em;

	a {
		display: inline-block;
		padding: 0 1em;
		margin: 0 0.2em 0.6em;
		color: #666;
		border-radius: 1em;

		&.current {
			background: rgba(0,0,0,0.1);
			color: black;
			cursor: default;
			&:hover {
				text-decoration: none;
			}
		}
	}
}