@charset "UTF-8";

.canvas-toolbar {
	margin-bottom: 1em;
	@include clear-fix();

	&#dashboard-toolbar {
		@include screen-size(small) {
			display: none;
		}
	}

	.pat-select {
		margin-right: 1em;
	}

	input[type="search"] {
		float: right;
		border-radius: 1em;
		background: white;
		border: 1px silver solid;
	}

	.icons {
		float: right;
		margin-left: 2em;
	}

	.icon {
		font-family: fontello;
		text-indent: -100em;
		width: 2em;
		height: 2em;
		position: relative;
		color: gray;
		cursor: default;
		margin-top: -0.3em;

		&:before {
			font-family: fontello;
			text-indent: 0;
			line-height: 2em;
			text-align: center;
			position: absolute;
			margin: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 1px silver solid;
			border-radius: 50%;
			background: white;
			display: inline-block;

			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}

		&:hover {
			color: black;

			&:before {
				border: black 1px solid;
			}
		}

		&.create {
			float: right;

			&:before {
				content: "\E825";
			}
		}

		&.edit {
			float: right;

			&:before {
				content: "\270e";
			}
		}
	}
}