@charset "UTF-8";

#dashboard {
	position: relative;

	.portlet {
		@include box-sizing();
		padding: 0 15px;		
		@include screen-size(large) {
			width: 33.33333%;
		}
	
		&.span-2 {
			@include screen-size(large) {
				width: 66.66666%;
			}
		}

		&.span-3 {
			width: 100%;
		}

		@include screen-size(large) {
			&.stamp {
				position: absolute;
				top: 0;

				&.right {
					right: 0;
				}

				&.left {
					left: 0;
				}
			}
		}
	}
}