@charset "UTF-8";

#dashboard {
	position: relative;

	&:before {
		position: fixed !important;
		@include throbber();
	}

	&.masonry-ready:before {
		display: none;
	}

	.portlet {
		@include box-sizing();
		padding: 0 #{$grid-gutter};		
		@include screen-size(large) {
			width: 33.33333%;
		}

		opacity: 0;

		-moz-transition: opacity 0.5s;
		-webkit-transition: opacity 0.5s;
		transition: opacity 0.5s;
	
		&.span-1 {
			@include screen-size(large) {
				font-size: 0.8em;

				.content {
					padding: 6%;
		  			border: 1px solid #dedede;
					border-radius: 0.5em;

				    overflow: auto;
				    max-height: 35em;
				}
			}
		}
	
		&.span-2 {
			@include screen-size(large) {
				width: 66.66666%;
			}
		}

		&.span-3 {
			width: 100%;
		}

		@include screen-size(large) {
			&.stamp {
				position: absolute;
				top: 0;

				&.right {
					right: 0;
				}

				&.left {
					left: 0;
				}
			}
		}
	}

	&.masonry-ready {
		.portlet {
			opacity: 1;
		}
	}
}