@charset "UTF-8";

#dashboard {
	position: relative;

	.portlet {
		@include box-sizing();
		padding: 0 15px;
		width: 33.33333%;
	
		&.span-2 {
			width: 66.66666%;
		}

		&.span-3 {
			width: 100%;
		}

		&.stamp {
			position: absolute;
			top: 0;

			&.right {
				right: 0;
			}

			&.left {
				left: 0;
			}
		}
	}
}