@charset "UTF-8";

.application-user {
  #document-body {
    #document-content {
      font-size: 1em;
    }
  }
}


#document-body {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  transition: left 0.2s;
  padding: 0;
  background-color: $colour-base-light;

  #title-block {
    position: relative;

    .placeholder {
      font-style: normal;
      color: silver;
    }

    .pat-content-mirror {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 0;
      margin: 0;
      color: transparent;
      -moz-text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      background-color: transparent;
      resize: none;
      // Width 100% is a patch required for Chrome
      width: 100%;
      height: 100%;
    }
  }

  #comments-document-comments {
    // padding: 6%;

    .comment-trail {
      margin-bottom: 2.5em;
    }

    .update-social {
      margin: 0 3.6em 4.5em;
    }

    textarea {
      // background-color: white;
    }
  }

  @include screen-size(small) { 
    top: 48px;
  }

  @include screen-size(large) { 
    top: 0;
  }

  z-index: 0;

  #document-content {
    font-size: 1.2em;
    line-height: 130%;

    &.news-feed {
      background-color: white;
      padding: 8%;
      font-size: 0.8em;
    }

    &.cases-overview {
      background-color: white;
      padding: 8%;
      font-size: 0.8em;
    }

    article.rich,
    .content-container,
    div.document {
      background-color: white;
      padding: 10%;

      img {
        max-width: 90%;
        margin: 0 auto;
        display: block;
      }
    }

    article.preview {
      background: white;
      padding-top: 3%;
      @include clear-fix();

      .message.no-preview {
        border: 1px #dedede solid;
        box-shadow: 0 0 0.1em silver;
        padding: 1em 1em 1em 4.5em;
        background-color: white;
        position: relative;
        width: 60%;
        margin: 2em auto 4em;

        .title {
          color: black;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0.3em 0.5em 0 0;
        }

        .byline {
          color: silver;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0 0.5em 0.3em 0;
        }

        &.error {
          background-color: lighten($colour-error, 45);
          color: $colour-error;
          border: none;

          .byline {
            color: $colour-error;
          }

          .title,
          &:before {
            color: darken($colour-error, 30);
          }
        }

        &:before {
          font-family: fontello;
          content: '\e811';
          line-height: 1.85em;
          width: 1.8em;
          font-size: 2em;
          position: absolute;
          top: 0.4em;
          left: 0.4em;
          text-align: center;
          color: silver;
        }

      }

      img {
        background-color: white;
      }


    }
  }

  .workspace-recommendations {
    display: block;
    margin: 0 auto 2em;
    color: gray;
    font-weight: bold;
    text-align: center;
  }
  #primary-functions {
    text-align: center;
    margin-bottom: 2em;
  }
}

@include screen-size(small) { 
  .focus-document #document-body {
    z-index: 1;
  } 
}

@include screen-size(large) { 

  .application-workspace #document-body {
    left: 50px;
  }

  .sidebar-left-open #document-body {
    left: 30%;
  }
  
}