@charset "UTF-8";

.lib-groups {
	margin-left: -$grid-gutter;
	margin-right: -$grid-gutter;
	position: relative;
	opacity: 0;
	transition: opacity 1s;

	&.masonry-ready {
	  opacity: 1;
	}

	.grid-sizer,
	.tile {
		@include screen-size(large) {
			width: 33.33333%;
		}

		@include screen-size(small) {
			width: 100%;
		}
		
		@include box-sizing();
		padding: 0 $grid-gutter;
	}

	.tile {
		margin-bottom: 1em;

	  	.content {
	  		// color: white;
	  		position: relative;
	  		background-color: white;
	  		padding: 6%;

	  		h3 {
			    font-weight: 100;
			    font-size: 1.7em;
			    line-height: 1.2em;
	  			margin-bottom: 0.5em;
				padding-left: 1.15em;

				a {
					display: block;
				}

	  			overflow: hidden;
	  			text-overflow: ellipsis;
	  		}

	  		.intro {
				color: rgba(0,0,0,0.5);
				font-size: 0.8em;
				margin-bottom: 1em;
				line-height: 130%;
				font-style: italic;
	  		}

	  		ul.menu li {
	  			&.follow-section {

	  				a:after {
		  				font-family: fontello;
		  				content: '\e75e';
		  				float: right;
		  				margin-right: 0.3em;
		  				color: rgba(0,0,0,0.3);
	  				}
	  			}

	  			a {
		  			cursor: pointer;
		  			padding-left: 2em;

		  			&:before {
		  				margin-left: -1.6em;
		  			}
	  			}
	  		}
	  	}

	  	&[class*=group-by-] {
	  		h3:before {
	  			font-family: fontello;
	  			display: inline-block;
	  			margin-right: 0.1em;
	  			font-size: 0.7em;
	  			color: rgba(0,0,0,0.5);
				margin-left: -1.4em;
				float: left;
	  		}
	  	}

	  	&.group-by-tag {
	  		h3:before {
	  			content: '\e70c';
	  		}
	  	}

	  	&.group-by-section {
	  		h3:before {
	  			content: '\e86f';
	  		}
	  	}
	}
}