@charset "UTF-8";

.lib-groups {
	margin-left: -$grid-gutter;
	margin-right: -$grid-gutter;
	position: relative;
	transition: opacity 1s;

	&.pat-masonry {
		opacity: 0;
	}

	&.pat-masonry.masonry-ready {
	  opacity: 1;
	}

	.grid-sizer,
	.tile, 
	.sibling-groups {
		@include screen-size(large) {
			width: 33.33333%;
		}

		@include screen-size(small) {
			width: 100%;
		}
		
		@include box-sizing();
		padding: 0 $grid-gutter;
	}

	.sibling-groups {
		float: left;

		.tile {
			width: 100%;
			padding: 0;
		}
	}

	.tile.full-page {
		@include screen-size(large) {
			width: 66.66666%;
		}

		float: right;
	}

	.tile {
		margin-bottom: 1em;

	  	.content {
	  		// color: white;
	  		position: relative;
	  		background-color: white;
	  		padding: 6%;
	  		display: block;

	  		&.cms-item {
	  			padding: 10%;
	  		}

	  		.footer {
	  			.read-more {
	  				color: $colour-accent;
	  			}
	  		}

	  		h3 {
			    font-weight: 100;
			    font-size: 1.7em;
			    line-height: 1.2em;
	  			margin-bottom: 0.3em;
				padding-left: 1.15em;

				a {
					display: block;
				}

	  			overflow: hidden;
	  			text-overflow: ellipsis;
	  		}

	  		.description {
				color: rgba(0,0,0,0.5);
				font-size: 0.8em;
				margin-bottom: 1em;
				line-height: 130%;
				font-style: italic;
	  		}

	  		.summary {
				color: rgba(0,0,0,0.5);
				font-size: 1em;
				margin-bottom: 1em;
				line-height: 130%;
			}

	  		ul.menu li {
	  			&.follow-section {
	  				position: relative;
	  				padding-right: 2em;

	  				a:after {
		  				font-family: fontello;
		  				content: '\e75e';
		  				float: right;
		  				// margin-right: 0.3em;
		  				color: rgba(0,0,0,0.3);
		  				height: 1.4em;
		  				margin-top: -0.7em;
		  				position: absolute;
		  				top: 50%;
		  				right: 0.3em;
		  				line-height: 1.4em;
	  				}
	  			}

	  			&.follow-page {
			  		a {
			  			&:before {
			  				display: inline-block;
			  				font-family: fontello;
			  				content: '\e823';
			  			}
			  		}
	  			}

	  			a {
		  			cursor: pointer;
		  			padding-left: 2em;

		  			&:before {
		  				margin-left: -1.6em;
	  					color: rgba(0,0,0,0.5);
		  			}
	  			}
	  		}
	  	}

	  	a.content {
	  		&:hover {
	  			text-decoration: none;
	  			cursor: pointer;

	  			.footer {
	  				.read-more {
	  					text-decoration: underline;
	  				}
	  			}
	  		}
	  	}

	  	&[class*=group-by-],
	  	&.type-page {
	  		h3:before {
	  			font-family: fontello;
	  			display: inline-block;
	  			margin-right: 0.1em;
	  			font-size: 0.7em;
	  			color: rgba(0,0,0,0.5);
				margin-left: -1.4em;
				float: left;
	  		}
	  	}

	  	&.type-page {
	  		h3:before {
	  			content: '\e823';
	  		}
	  	}

	  	&.group-by-tag {
	  		h3:before {
	  			content: '\e70c';
	  		}
	  	}

	  	&.group-by-section {
	  		h3:before {
	  			content: '\e86f';
	  		}
	  	}
	}
}