@charset "UTF-8";

.logo {

}

.logo#site-logo {
	float: left;
	margin-right: 14px;
	line-height: 1.95em;
	font-size: 0.9em;
	font-weight: bold;
	color: $colour-header-elements;

	@include screen-size(small) {
		display: none;
	}
}