@charset "UTF-8";

#login-panel {
	background: #869EBF;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: white;
	overflow: auto;

	article.page {
		margin: 15% auto 5%;
		width: 60%;
		color: white;

		a {
			color: white;
			text-decoration: underline;
		}
	}

	.panel {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 400px;
		margin-left: -200px;
		height: 300px;
		margin-top: -230px;

		.colofon {
			color: rgba(255,255,255,0.4);
			font-size: 0.8em;
			margin-bottom: 1em;

			a {
				color: rgba(255,255,255,0.4);
			}
		}

		.splash {
			margin-bottom: 1.5em;

			img {
				margin: 0 auto;
				display: block;
				max-height: 200px;
				max-width: 100%;
			}
		}

		input {
			color: white;
			font-size: 1.2em;

			&::-webkit-input-placeholder {
			   color: rgba(255,255,255,0.4);
			}

			&:-moz-placeholder { /* Firefox 18- */
			   color: rgba(255,255,255,0.4);  
			}

			&::-moz-placeholder {  /* Firefox 19+ */
			   color: rgba(255,255,255,0.4);  
			}

			&:-ms-input-placeholder {  
			   color: rgba(255,255,255,0.4);  
			}
		}

		button {
			color: white;
			display: block;
			width: 60%;
			text-align: center;
			margin: 0 auto;
			font-size: 1.2em;
		}
	}
}
