@charset "UTF-8";

.metadata {
  background-color: rgba(255,255,255,0.93);
  color: gray;
  margin-right: 0;
  margin-left: 0;
  padding: 6% 6% 0;
  -moz-transition: padding 0.5s;
  -webkit-transition: padding 0.5s;
  transition: padding 0.5s;
  z-index: 1;

  fieldset {
    margin-bottom: 0;
  }

  @include screen-size(small) {  
    position: static !important;
  }

  .select2-choices {
    border: none;
  }

  .select2-container-multi .select2-choices .select2-search-choice {
    margin: 0 0.5em 0 0;
  }

  .select2-container-multi .select2-choices .select2-search-field {
    height: 1.5em;
    padding: 0 0 0 0;
  }

  .select2-choices {
    background: transparent;
  }

  button,
  .button,
  .pat-button,
  label.pat-select {
    font-size: 1em;
    padding: 0 0.5em;
    line-height: 1.2em;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0.2em;
  }

  .bar {
    border-bottom: 1px solid silver;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    margin-bottom: 0;
    display: block;

    textarea {
      background: none;
      padding: 0.1em 0;
      margin: 0;
      display: block;
      width: 100%;
      resize:none;
    }

    input[type="text"],
    input[type="date"],
    select {
      padding: 0 0.5em;
      margin: 0;
    }

    &.summary-hero {
      .image-uploader:after {
        opacity: 0.5;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
      }

      textarea,
      .image-uploader {
        height: 8em;

        .upload-button {
          top: 6em;

          -moz-transition: all 0.5s;
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
        }

        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
      }
    }
  }

  &.bumped {
    @include screen-size(large) {
      padding: 0;
      // border-bottom: 1px solid silver;

      .meta-bar {
        border-top: none;
      }

      .meta-bar,
      .bar,
      input.doc-title.pat-content-mirror {
        padding: 0 2%;
      }
    }

    .summary-hero {

      textarea,
      .image-uploader {
        height: 1.5em;
      }

      .image-uploader:after {
        opacity: 0;
      }

      .image-uploader {
        .upload-button {
          top: 0.1em;
        }
      }

      .focus {
        textarea,
        .image-uploader {
          height: 8em;

          &:after {
            opacity: 0.5;
          }

          .upload-button {
            top: 6em;
          }
        }
      }
    }
  }

  .meta-extra {
    padding: 0;
    margin: 0;
    overflow: hidden; // To prevent a grey bar from appearing underneath the extra arrea when expanded
  }

  .meta-bar {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    overflow: hidden;
    position: relative;
    -moz-transition: padding 0.5s;
    -webkit-transition: padding 0.5s;
    transition: padding 0.5s;

    @include screen-size(small) {  
      border: none;
      // text-align: center;
    }

    .back-to-parent {
      line-height: 1.5em;
      margin-bottom: 2em;
      max-width: 90%;

      @include screen-size(large) {  
        display: none;
      }
    }

    .title-group {
      @include clear-fix();
      position: relative;
      display: inline-block;
      float: left;

      .doc-title {
        font-size: 1em;
        float: left;
        font-weight: normal;
        color: transparent;
        font-weight: bold;
        line-height: 1.5em;
        overflow: hidden;

        white-space: normal;

        @include screen-size(small) {  
          font-size: 1.5em;
          width: 100%;
          text-align: center;
        }

        &.pat-content-mirror {
          background-color: transparent;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          padding: 0;
          margin: 0;
          color: black;
          // -moz-text-fill-color: transparent;
          // -webkit-text-fill-color: transparent;
          // text-fill-color: transparent;
          // background-color: transparent;
          resize: none;
          // Width 100% is a patch required for Chrome
          width: 100%;
          height: 100%;

          overflow: none;
          
          &:focus {
            border-color: transparent;
            box-shadow: none;
            -webkit-box-shadow: none;
            outline: none;
          }
        }
      }
    }

    input.doc-title {
      @include screen-size(small) {  
        display: none;
      }
    }

    .quick-functions {
      float: right;
      position: relative;
      z-index: 1;

      a {
        color: gray;
        margin-left: 0.3em;
        display: inline-block;
        line-height: 1.5em;
        float: left;
        cursor: default;

        &.collapsible-open {
          color: $colour-accent;
        }
      }

      @include screen-size(small) { 
        display: block;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;

        .icon-floppy,
        .icon-info-circle,
        .icon-copy,
        .icon-trash,
        .saving-badge,
        .pat-subform,
        .icon-external  {
          display: none;
        }

        .icon-export {
          display: inline-block;
          top: -0.15em;
          font-size: 1.5em;
        }
      }

      fieldset {
        display: inline-block;
        margin: 0;
        padding: 0;
      }

      label.pat-select {
        margin-left: 0.3em;
        margin-bottom: -0.29em;
        float: right;

        &:before {
          font-family: fontello;
          content: '\e82c';
          position: relative;
          top: 0.08em;
        }

        &[data-option='Private'] {
          // background-color: #d561a4;
          color: #d561a4;
        }
        &[data-option='Members'] {
          background-color: #f38300;
          color: white;
        }
        &[data-option='Public'] {
          // background-color: #65c981;
          color: #65c981;
        }
        &[data-option='Pending'] {
          background-color: #ff0201;
          color: white;
        }
        &[data-option='Logged in'] {
          background-color: #008f51;
          color: white;
        }
        &[data-option='Internal'] {
          background-color: #ff2f92;
          color: white;
        }
        &[data-option='Everyone'] {
          background-color: whitesmoke;
        }
        &[data-option='Closed'] {
          color: darken($colour-success, 40%);
        }
        &[data-option='Open'] {
          background-color: $colour-warning;
          color: white;
        }
      }
    }

    .saving-badge {
      float: right;
      font-size: 0.8em;
      margin-top: 0.1em;
      margin-left: 0.5em;

      &.injecting:before {
        display: none;
      }

      .saved-tag {
        font-style: normal;
        border: none;
        background: $colour-base;

          -webkit-animation: fadeInDown 0.6s linear;
          animation: fadeInDown 0.6s linear;

        .modification-date {
          font-weight: bold;
        }
      }

      .locked-tag {
        @include pat-button();
        font-weight: bold;
        border: none;
        background: $colour-warning;
        box-shadow: none;
      }
    }
  }
}

#document-body div.metadata .select2-container input {
  padding: 0;
  border-style: none;
}


