@charset "UTF-8";

.news-feed {
	clear: both;
	position: relative;

	&.pat-well {
		background-color: white;
		font-size: 0.8em;
	}
	
	h2 {
		margin-bottom: 0.7em;
		font-weight: 800;
		font-size: 1.5em;
		line-height: 1.4em;
		text-align: center;
	}

	.item {
		position: relative;
		font-size: 0.9em;
		line-height: 1.4em;
		overflow: hidden;

		.edit-button {
			position: absolute;
			top: 0.5em;
			right: 0.5em;
			width: 2em;
			height: 2em;


			&:before {
				content: "\270e";
				border-radius: 50%;
				width: 2em;
				height: 2em;
				line-height: 2em;
				text-align: center;
				background-color: rgba(0,0,0,0.5);
				color: white;
			}
		}

		&.columns .edit-button {
			margin-right: 15px;
		}

		&.four.columns {
			font-size: 0.8em;
		}

		&:after {
			content: " ";
			// border-bottom: 0.1rem solid $colour-header-elements;
			padding-bottom: 1em;
			position: absolute;
			bottom: 0;
		}

		&.columns:after {
			left: 15px;
			right: 15px;
		}

		.follow {
			text-decoration: none;
			color: $colour-header-elements;

			&:hover {
				color: black
			}

			img {
				margin-bottom: 1em;
				max-width: 100%;
			}

			h3 {
				margin-bottom: 0;
				font-weight: 800;
				font-size: 1em;
				line-height: 1.4em;
				color: black;
				text-transform: uppercase;

				.category,
				.comment-count {
					float: right;
					margin-top: 0.35em;
					margin-left: 0.4em;
					font-size: 0.7em;
					display: inline-block;
					background-color: $colour-accent;
					color: white;
					padding: 0 0.5em;
					line-height: 153%;
					font-weight: normal;
					font-style: normal;
					border-radius: 0.2em;
				}

				.comment-count {
					&:before {
						font-family: fontello;
						font-size: 0.9em;
						content: '\e806';
						display: inline-block;
						margin-right: 0.4em;
					}
				}
			}

			strong {
				font-family: $body-font-family;
				font-weight: bold;
			}

			.description {
				margin-bottom: 2em;
			}
		}

		&.level-3 {
			clear: both;
			overflow: hidden;
			margin: 0;
			padding: 0;

			&:after {
			 	left: 0;
			 	right: 0;
			}

			.follow {
				padding: 1em 0;
				float: left;
				width: 100%;

				.description {
					position: relative;
					top: -0.2em;
					margin: 0;
				}

				h3 {
					position: relative;
					top: -0.2em;
				}
				
				figure {
					float: left;
					float: left;
					margin-bottom: 0;
					width: 20%;
					margin-right: 15px;
				}

				img {
					// width: 100%;
				}
			}
		}

		&.item-1 {
			// margin-bottom: 2em;

			img {
				width: 100%;
				margin-bottom: 1em;
			}

			.teaser {
				// position: absolute;
				// right: 0;
				// left: 0;
				// bottom: 0;
				// padding: 1.5em;
				// background-color: rgba(255,255,255,0.9);
				// border-bottom: 0.1rem solid $colour-header-elements;
				padding-bottom: 2em;
			}
		}
	}
}