@charset "UTF-8";

.portlet {
	@include screen-size(small) {
		&:not(#portlet-activity-stream) {
			display: none;
		}
	}

	margin-bottom: 2rem;

	.portlet-title {
		margin: 0 0 1rem 0;
		font-size: 1.2;
		font-weight: 300;

		sup {
			font-size: 0.6em;
			color: gray;
		}
	}

	.link {
		padding: 0.2em 0;
		
		&:hover {
			text-decoration: none;
		}
	}

	.portlet-footer {
		font-size: 0.8em;
	}

	.title {
		margin: 0;
		font-size: 1em;
		font-weight: normal;
	}

	.byline {
		color: #666;
		font-size: 0.8em;
		line-height: 1.3em;
		font-style: italic;
		margin: 0;
	}

	h3 {
		font-size: 1em;
		font-weight: 300;
	}

	&#portlet-contacts {
		.search-box {
			input {
				width: 100%;
			}
		}
	}

	&#portlet-events {
		.event {
			@include clear-fix();
			margin-bottom: 1em;
			position: relative;
			min-height: 4.5em;

			a {
				color: black;				

				.date {
					float: left;
					width: 24%;
					position: absolute;
					top: 0.3em;
					left: 0;

					time {
						background-color: white;
						outline: rgb(223, 223, 223) 1px solid;
					}
				}
				.title,
				.byline,
				.description {
					float: right;
					width: 70%;
					font-size: 0.8em;
					line-height: 1.3em;
				}

				.byline {
					margin-bottom: 0.5em;
					font-style: italic;
					font-weight: bold;
				}

				.title {
					font-weight: bold;
					color: $colour-accent;
					margin-bottom: 0.4em;
					font-size: 1em;
				}

				&:hover {
					.title {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

