@charset "UTF-8";

.post {
  @include box-sizing();
  background-color: white;
  // margin-bottom: 2em;

  @include screen-size(large) { 
    border-top-left-radius: 2.2em;
    border: solid 1px #dedede;
    padding: 1em;
  }

  @include screen-size(small) { 
    border-top: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
    padding: 2em 0;
  }

  .post {
    font-size: 0.8em;
    // border-radius: 0;
    padding: 1em 0 0 1em;
    margin-bottom: 1em;
    border-left: 0.5em solid $colour-base;
    border-right: none;
    border-top: none;
    border-bottom: none;
    width: auto;
  }

  .post-header {
    padding: 0 0 0 3.5em;
    position: relative;
    margin-bottom: 0.3em;

    br {
      display: none;
    }
    
    .icon-cog {
      position: absolute;
      right: 0;
      top: 0.3em;
      color: rgba(0,0,0,0.5);
    }

    .pat-avatar {
      position: absolute;
      left: 0;
      width: 2.8em;
      height: 2.8em;
    }

    .byline { 
      color: gray;
      margin-bottom: 0.5em;

      label.pat-select.visibility {
        color: gray;
        &:hover {color:black}

        &:before {font-size: 0.8em;}
      }
    }
  } 

  .post-content {
  //   font-size: 0.9em;
    line-height: 1.3em;
    padding-top: 0.4em;

    p,ul,ol,dl,table,pre {
      margin: 0 0 1em 0;
    }
  }

  .functions {
    margin: 0 0 0.5em 0;
    font-size: 0.8em;

    form {
      display: inline;
    }

    a,
    button {
      color: gray;
      padding: 0 0.6em 0 0;
      cursor: default;
      background: none;
      border: none;

      &:active {
        box-shadow: none;
      }

      &:hover {
        color: black;
        text-decoration: none;
      }

      &:before {
        display: inline-block;
        padding: 0 0.2em 0 0;
      }

      &.active {
        color: $colour-accent;
        box-shadow: none;
      } 
    }

    .like {
      &:before {
        font-family: fontello;
        content: '\e801'
      }
    }

    .share {
      &:before {
        font-family: fontello;
        content: '\e80a'
      }
    }
  }

  .preview {
    background-color: #efefef;
    position: relative;

    a:hover {
      text-decoration: none;

      figure figcaption {
        background-color: #ededed;
      }
    }

    figure {
      border: 1px #dedede solid;
      box-shadow: 0 0 0.1em silver;
      background-color: white;
      overflow: hidden;

      figcaption {
        padding: 0 0 0 0.6em;
        position: relative;

        .title {
          color: black;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0.3em 0.5em 0 0;

          .page-counter {
            color: rgba(0,0,0,0.5);
            font-weight: bold;
            font-size: 0.8em;
          }
        }

        .byline {
          color: silver;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-top: -0.3em;
          padding: 0 0.5em 0.8em 0;
        }

        // &:before {
        //   font-family: fontello;
        //   content: '\e811';
        //   line-height: 1.85em;
        //   width: 1.8em;
        //   font-size: 2em;
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   text-align: center;
        //   color: silver;
        // }
      }
    }

    &.image {
      .overlay {
        color: white;
        padding: 2em 1em 1em 1em;
        font-size: 1.5em;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+0,1+100 */
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

        a {
          color: silver;
          cursor: pointer;
          float: right;

          * {
            cursor: pointer;
          }

          &:hover,
          &:hover * {
            color: white;
          }
        }

        .icon {
          float: right;
          margin-left: 1em;
          color: silver;
          font-style: normal;
        }
      }
    }

    &.document {

      figure {
        &:after {
          width: 30%;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          content: ' ';
          display: block;
          height: 100%;
          background-color: #efefef;
          z-index: 0;
        }

        img {
          width: 30%;
          float: left;
          position: relative;
          z-index: 2;
        }
      }

      figcaption {
        @include box-sizing();
        width: 70%;
        float: right;

        .functions {
          float: right;
          margin-left: 1em;
          margin-bottom: 0.5em;

          nav {
            display: inline;
          }

          a {
            color: silver;
            cursor: pointer;

            &:hover {
              color: black;
            }
          }
        }
      }
    }

    &.not-generated figure,
    &.not-possible figure {
      
      &:before {
        font-family: fontello;
        float: left;
        height: 1em;
        line-height: 1em;
        width: 1em;
        z-index: 1;
        position: absolute;
        font-size: 1.5em;
        color: gray;

        top: 50%;
        left: 15%;

        margin-top: -0.5em;
        margin-left: -0.5em;

        font-style: normal;
      }
    }

    &.not-generated figure {
      
      &:before {
        content: "\e838";
        -moz-animation: spin 2s infinite linear;
        -o-animation: spin 2s infinite linear;
        -webkit-animation: spin 2s infinite linear;
        animation: spin 2s infinite linear;
      }
    }

    &.not-possible figure {
      
      &:before {
        content: "\e811";
      }
    }

    img {
      max-width: 100%;
      margin: 0 auto;
      display: block;
    }
  }

  .update-social fieldset {
    margin: 0;
  }
}

.portlet.span-1 .post {
  @include screen-size(large) { 
    margin: 0 -1.5em -1px;
    border-radius: 0;
  }
}