@charset "UTF-8";

.tabs {
  text-align: center;
  line-height: 3;
  height: 2.95em;
  overflow: hidden;
  border-bottom: $colour-accent 1px solid;
  margin-bottom: 2em;
  // background-color: white;
  transition: line-height .5s, opacity .5s, height .5s, font-size .5s;

  &.bumped {
    opacity: 0.9;
    line-height: 2.1em;
    height: 2em;
    font-size: 0.8em;

    &.sticky-supported {
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        position: -webkit-sticky !important;
        position: sticky !important;
        top: 0.01em !important;
      }
    }
  }

  ul {
    text-align: center;
    }

  a {
    display: inline-block;
    padding: 0 1.5em;
    position: relative;

    &.injecting:before {
      display: none;
    }

    sup {
      font-size: 0.6em;
      color: gray;
      font-weight: bold;
    }

    &.current:after {
      position: absolute;
      content: " ";
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom: 0.4em solid $colour-accent;
    }
  }

  &.portal-tabs {
    z-index: 3;
    margin-bottom: 3em;
    background-color: $colour-header;
    border-bottom: none;
    border-bottom: $colour-separation-lines;

    .title {
      display: none;
    }

    a {
      color: $colour-header-elements;

      &.current:after {
        border-bottom-color: $colour-header-elements;
      }
    }

    a.current:after {
      bottom: 2px;
    }

    @include screen-size(small) {
      display: none;
    }
  }
}

#sidebar-content {
  .tabs {
    line-height: 1.2em;
    height: 1.5em;
    margin-bottom: 1em;

    a {
      float: left;
      padding: 0 0.4em 0.4em 0.4em;
    }
  }
}