@charset "UTF-8";

.tiles {
	// margin: 0 auto;
	position: relative;
	opacity: 0;
	transition: opacity 1s;

	&.apps {
		.grid-sizer {
			width: 20%;

		  	@include screen-size(small) {
		  		width: 50%;
		  	}

		}
	}

	&.masonry-ready {
	  opacity: 1;
	}

	.tile {
		margin-bottom: 1em;

	  &.app {
	  	width: 20%;
	  	@include screen-size(small) {
	  		width: 50%;
	  	}
		padding: 15px;
		margin-bottom: 0;

  		-moz-box-sizing: border-box;
  		-webkit-box-sizing: border-box;
  		box-sizing: border-box;

	  	.icon {
	  		width: 100%;
	  		height: auto;
	  	}

	  	&.app-calendar {
	  		time.date {
	  			position: absolute;
	  			top: 0;
	  			left: 0;
	  			right: auto;
	  			width: 200px;
	  			padding-top: 101px;
	  			font-size: 21px;
	  			text-align: center;
	  			color: $colour-accent;
	  			font-weight: bold;
	  		}
	  	}

	  	.link {
	  		color: white;
	  		position: relative;
	  		background-color: $colour-accent;
	  		padding: 0;

	  		h3 {
	  			font-size: 0.9em;
	  			font-weight: bold;
	  			padding: 0.4em 0.5em;
			    position: absolute;
			    top: 0;
			    left: 0;
			    right: 0;
	  		}
	  	}
	  }

	  &.workspace.type-case {
	  	.link {
	  		background-color: #DE7F00;

	  		&:hover {
	  			background-color: #B96A00;
	  		}
	  	}
	  }

	  .link {
	    display: block;
	    padding: 1.5em;
	    color: white;
	  	background-color: $colour-workspace-default;
	  	cursor: hand;

	  		&:hover {
	  			text-decoration: none;

	  			&:after {
	  				position: absolute;
	  				top: 0;
	  				right: 0;
	  				bottom: 0;
	  				left: 0;
	  				content: " ";
	  				background-color: rgba(255,255,255,0.2);
	  				display: block;
	  			}
	  		}

	    h3 {
	      font-weight: 100;
	      font-size: 2em;
	      line-height: 1.2em;
	    }

	    p {
	    	margin: 0.5em 0 0;
	    	opacity: 0.5;
	    	font-style: italic;
	    }
	  }
	}
}
