<form class="pat-inject pat-sortable" src="submit.html" id="sortable-form" data-pat-sortable="selector: fieldset.sortable" data-pat-inject="source: #sortable-form; target: #sortable-form">

               <fieldset class="group sortable">
                   <p class="legend">One.</p>
                   <label>Amount to move up or down.<input type="number" name="amount" min="0" step="1" placeholder="Amount"></label>
                   <fieldset class="button-bar group">
                       <button class="button" type="submit" name="up" value="up">Up</button>
                       <button class="button" type="submit" name="down" value="down">down</button>
                   </fieldset>
               <a href="#" class="handle" draggable="true"></a></fieldset>

               <fieldset class="group sortable">
                   <p class="legend">Two.</p>
                   <label>Amount to move up or down.<input type="number" name="amount" min="0" step="1" placeholder="Amount"></label>
                   <fieldset class="button-bar group">
                       <button class="button" type="submit" name="up" value="up">Up</button>
                       <button class="button" type="submit" name="down" value="down">down</button>
                   </fieldset>
               <a href="#" class="handle" draggable="true"></a></fieldset>

               <fieldset class="group sortable">
                   <p class="legend">Three.</p>
                   <label>Amount to move up or down.<input type="number" name="amount" min="0" step="1" placeholder="Amount"></label>
                   <fieldset class="button-bar group">
                       <button class="button" type="submit" name="up" value="up">Up</button>
                       <button class="button" type="submit" name="down" value="down">down</button>
                   </fieldset>
               <a href="#" class="handle" draggable="true"></a></fieldset>
           </form>