---
layout: home
application: home
design_title: Library landing page
---

<nav class="canvas-subnav">
	<a href="/library.html">All topics</a>
	<a href="/library-hr.html" class="current">HR</a>
	<a href="/library.html">Regulations</a>
	<a href="/library.html">Transportation</a>
	<a href="/library.html">Lorem ipsum</a>
</nav>

<div class="lib-groups" id="lib-groups">
	<div class="tile full-page">
		<article class="content cms-item pat-rich">
			<p class="page-function-bar">
				<!-- The word 'Press release' below is to be replaced with the relevant section name of the respective article. The same is true for the link.  -->
				<a class="back" href="/library-hr-excepturi-sint-occaecati.html">Excepturi sint occaecati</a>
				<a href="#" class="share icon-share">Share</a>
			</p>

			<h1 class="title">
				{{ page.title }}
			</h1>

			<p class="summary">
				{{ page.description }}
			</p>

			<div class="main-content">
				{{ content }}
			</div>
		</article>
	</div>
	<aside class="sibling-groups">
		<div class="tile group-by-section">
			<div class="content">
				<h3>
					Excepturi sint occaecati
				</h3>
				<ul class="menu group-by-page">
					{% for item in site.posts %}
						{% if item.layout == 'cms-item' %}
							<li class="follow-page">
								<a href="{{ item.url }}">{{ item.title }}</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</aside>
</div>