---
layout: home
application: home
template: news-item
---

<nav class="canvas-subnav">
	<a href="/news.html">All news</a>
	<a href="/news-hot-topics.html" class="current">Hot topics</a>
	<a href="/news-company-news.html">Company news</a>
	<a href="/news-press-releases.html">Press releases</a>
</nav>

<article class="news-article pat-rich">
	<p class="page-function-bar">
		<!-- The word 'Press release' below is to be replaced with the relevant section name of the respective article. The same is true for the link.  -->
		<a class="back" href="/library-hr-excepturi-sint-occaecati.html">Valenpedicis palemtuem</a>
		<a href="#" class="share icon-share">Share</a>
	</p>

	<h1 class="title">
		{{ page.title }}
	</h1>

	{% if page.image %}
		<figure class="hero">
			<img src="/media/{{ page.image }}" alt="" />
		</figure>
	{% endif %}

	<p class="summary">
		<time class="date" datetime="{{ page.date | date: '%y-%m-%d' }}">{{ page.date | date: '%B %d, %Y' }}</time> {{ page.description }}
	</p>

	<div class="main-content">
		{{ content }}
	</div>
</article>