---
layout: shell
template: generic
application: news-cms
---

<div class="application-news-cms" id="content">
    <div id="document-body">
    	{{ content }}
    </div>
    <aside class="sidebar left" id="sidebar-news-cms">
	    <div id="sidebar-content">
	    	<div class="button-bar functions" id="-functions">
	            <div class="contextual buttons float-before" id="-contextual-functions">
	                <form action="./#-items" class="pat-inject pat-autosubmit">
	                    <label class="pat-select bare" data-option="Milestone">Group by
	                        <select name="browse-mode">
	                            <option value="section">section</option>
	                            <option value="author">tag</option>
	                            <option value="author">author</option>
	                        </select>
	                    </label>
	                </form>
	            </div>

	            <div class="quick-functions">
	                <a title="Create new document" href="/panel-create-news-item.html#document-content" class="create-document pat-modal icon-doc-text" data-pat-modal="class: large">Create news item</a>
	            	<a class="pat-toggle toggle-select" data-pat-toggle="selector: #selector; value: mode-select mode-follow">Select</a>
	            </div>
        	</div>

	        <div class="pat-collapsible object-list news">
	            <h4 class="section-label">
	                Hot topics
	            </h4> 
			    <fieldset class="checklist pat-checklist news">
					{% for item in site.posts %}
						{% if item.category == 'hot-topics' and item.layout == 'news-item' %}
			                <label class="item document type-news has-description">
			                    <input name="projection-material" type="checkbox">
			                    <a href="/apps/news/edit.html#document-body" class="pat-inject follow pat-switch" data-pat-switch="body focus-* focus-document" data-pat-inject="target: #document-body; history: record">
			                        <strong class="title">{{ item.title }}</strong>
			                        <p class="byline">
			                        	{{ item.description | truncate: 160 }}
			                        </p>
			                    </a>
			                </label>
						{% assign count = count | plus: 1 %}
						{% endif %}
					{% endfor %}
		        </fieldset>
				<p class="more">
					<a href="/news-hot-topics/">More hot topics…</a>
				</p>
	  		</div>

	        <div class="pat-collapsible object-list news">
	            <h4 class="section-label">
	                Company news
	            </h4> 
			    <fieldset class="checklist pat-checklist news">
					{% for item in site.posts %}
						{% if item.category == 'star-news' and item.layout == 'news-item' %}
			                <label class="item document type-news has-description">
			                    <input name="projection-material" type="checkbox">
			                    <a href="/apps/news/edit.html#document-body" class="pat-inject follow pat-switch" data-pat-switch="body focus-* focus-document" data-pat-inject="target: #document-body; history: record">
			                        <strong class="title">{{ item.title }}</strong>
			                        <p class="byline">
			                        	{{ item.description | truncate: 160 }}
			                        </p>
			                    </a>
			                </label>
						{% assign count = count | plus: 1 %}
						{% endif %}
					{% endfor %}
		        </fieldset>
				<p class="more">
					<a href="/news-hot-topics/">More hot topics…</a>
				</p>
	  		</div>

	        <div class="pat-collapsible object-list news">
	            <h4 class="section-label">
	                Press releases
	            </h4> 
			    <fieldset class="checklist pat-checklist news">
					{% for item in site.posts %}
						{% if item.category == 'press-release' and item.layout == 'news-item' %}
			                <label class="item document type-news has-description">
			                    <input name="projection-material" type="checkbox">
			                    <a href="/apps/news/edit.html#document-body" class="pat-inject follow pat-switch" data-pat-switch="body focus-* focus-document" data-pat-inject="target: #document-body; history: record">
			                        <strong class="title">{{ item.title }}</strong>
			                        <p class="byline">
			                        	{{ item.description | truncate: 160 }}
			                        </p>
			                    </a>
			                </label>
						{% assign count = count | plus: 1 %}
						{% endif %}
					{% endfor %}
		        </fieldset>
				<p class="more">
					<a href="/news-hot-topics/">More hot topics…</a>
				</p>
	  		</div>
	    </div>
    </aside>
</div>

{% include global-header.html %}