---
layout: generic
---

<form action="search-results.html#results" id="global-search" class="pat-autosubmit pat-inject" data-pat-inject="source: #results; target: #results; && source: #tabs-nav; target: #tabs-nav;">

	<div class="container input">
		<fieldset class="search">
			<label>
				<input type="search" value="min" name="lemma" placeholder="Search the entire intranet" />
			</label>
			<button type="submit">Search</button>
		</fieldset>
	</div>
	<nav class="tabs navigation" id="tabs-nav">
		<!-- the search term name/value pair should be present in the tabs link to carry over the search term to the next page when the user switches tabs -->
		<a class="{% if page.url == '/search-results.html' %}current{% endif %}" href="/search-results.html?lemma=min">All</a>
		<a class="{% if page.url == '/search-results-people.html' %}current{% endif %}" href="/search-results-people.html?lemma=min">People</a>
		<a class="{% if page.url == '/search-results-images.html' %}current{% endif %}" href="/search-results-images.html?lemma=min">Images</a>
		<a class="{% if page.url == '/search-results-videos.html' %}current{% endif %}" href="/search-results-videos.html?lemma=min">Videos</a>
		<a class="{% if page.url == '/search-results-office.html' %}current{% endif %}" href="/search-results-office.html?lemma=min">Office files</a>
	</nav>
	<div class="results" id="results">
		<div class="container results">
			{{ content }}
		</div>
	</div>
</form>