@charset "UTF-8";

$colour-header: #009FE3;
$colour-header-elements: #FFF;
$colour-separation-lines: #FFF;
$colour-accent: #009FE3;
$colour-workspace-default: #666;

/*
#site-logo {
	text-indent: -2000px;
	overflow: hidden;
	width: 400px;
	height: 24px;
	background: no-repeat url(/media/logos/ikath-long.svg);
	background-size: fill;
	margin-top: 4px;
	width: 90px;
}
*/

#login-panel {
	background-color: $colour-accent !important;

	.panel {
		
		.splash {
			overflow: hidden;
			text-indent: -2000px;
			height: 6em;
			background: no-repeat url(/media/logos/ikath-long.svg) !important;
			-moz-background-size: 6em;
			-webkit-background-size: 6em;
			background-size: 80% !important;
	    	background-position: center !important; 

	    	img {
	    		display: none !important;
	    	}
		}
	}
}

/* Keep the search open */
#global-header form#global-nav-search input.search, 
#global-header form#searchGadget_form input.search {
    width: 14em;
    opacity: 1;
    padding-left: 1.5em;
}

/* Make portal tabs on workspace open by default */
/*.gh-collapsed #global-header { height: 86px; }

body.gh-collapsed #content { top: 86px; }

.gh-collapsed #hamburger-desktop {
	&:before {
		content: "\e878";
	}
}*/

/* Hyphenation for workspace tiles */
.tiles .tile h3 {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
