@charset "UTF-8";

$colour-header: #869EBF;
$colour-header-elements: #FFF;
$colour-separation-lines: #FFF;
$colour-accent: #869EBF;
$colour-workspace-default: #828282;

.login-panel {
	.logo {
		overflow: hidden;
		text-indent: -2000px;
		height: 8em;
		background: no-repeat url(/media/logos/plone-intranet-square.svg);
		background-size: 8em;
    	background-position: center; 
	}
}